#header
{
    border-radius: 30px;
    height:200px;
    width: 50%;
    background:rgb(204,33,49);
    position:absolute;
}
#para
{
    align:center;
}
#im
{
    margin-left: 0px;
    height: 200px;
    width: 500px;
    object-fit:cover;
}
#welcome
{
    margin-left:45%;
    border-radius:30px;
    height:200px;
    width:55%;
    background:rgb(204,33,49);
}
#wel
{
    margin-left:200px;
    font-size: 50px;
    color:white;
    font-weight: bold;
}
label
{
    display: inline-block;
    width: 250px;
    text-align: right;
}
#center
{
    width:50%;
    border:2px solid rgb(204,33,49);
    border-radius:50px;
    color:rgb(204,33,49);
    align:center;
    font-size:20px;
    margin-left:400px;
}
body
{
    background:rgb(255,241,172);
}
#order
{
    border:2px solid rgb(204,33,49);
    width:100%
}
#color
{
    background-color: white;
}
#cost
{
    color: rgb(204,33,49);
}